* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.nav {
  background-color: #FCF8EC;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
}

.nav-title {
  font-weight: bold;
  font-size: 2rem;
}

.nav ul {
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: 175px;
}

.nav a {
  color: #456268;
  text-decoration: none;
}

.nav a:hover {
  color: #79A3B1;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 20%;
  height: auto;
  padding: 2rem;
  border: 2px solid #456268;
}

.product-image {
  width: 75%;
  height: 70%;
}

.product-button {
  background-color: #79A3B1;
  padding: 10px;
  border-radius: 5px;
  color: #FCF8EC;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.product-button:hover {
  background-color: #456268;
}

.Footer {
  background-color: #FCF8EC;
text-align: center;
  padding: 0 3rem; 
  font-weight: bold;
}